# Dependency updates
go.mod @mendersoftware/client-dependabot-reviewers
go.sum @mendersoftware/client-dependabot-reviewers
Dockerfile* @mendersoftware/client-dependabot-reviewers
*requirements*.txt @mendersoftware/client-dependabot-reviewers
package.json @mendersoftware/client-dependabot-reviewers
package-lock.json @mendersoftware/client-dependabot-reviewers

# Git submodules
/tests/acceptance/image-tests @mendersoftware/client-dependabot-reviewers
