[Unit]
Description=Reverse SSH tunnel
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
User=root
Group=root
ExecStart=/usr/bin/ssh -NTC -o ServerAliveInterval=60 -o ExitOnForwardFailure=yes -o StrictHostKeyChecking=no -R 12345:localhost:22 bbb@108.61.103.174
Restart=always

[Install]
WantedBy=multi-user.target

