autoconf
automake
awscli
bash
bc
build-essential
chrpath
cpio
curl
device-tree-compiler
diffstat
docker.io
e2tools
gawk
gdisk
git
gnupg2
jq
kmod
kpartx
libaio-dev
libbluetooth-dev
libbrlapi-dev
libbz2-dev
libfdt-dev
libffi-dev
libglib2.0-dev
liblzma-dev
liblzo2-dev
libpixman-1-dev
libsdl1.2-dev
libssl-dev
libvirt-bin
libxml2-dev
libxslt-dev
libyaml-dev
locales
nfs-client
nfs-common
nodejs
pass
pkg-config
psmisc
python-dev
python3-pip
qemu-kvm
qemu-system-arm
qemu-system-x86
qemu-utils
s3cmd
screen
sudo
sysbench
sysstat
texinfo
wget
zlib1g-dev
rustc
cargo
