[Unit]
Description=Mender OTA update service

[Service]
Type=simple
User=root
Group=root
ExecStart=/usr/bin/mender -daemon
Restart=on-abort

[Install]
WantedBy=multi-user.target
