[Unit]
Description=Mender persistent machine ID for systemd
ConditionPathExists=/etc/machine-id

[Service]
Type=oneshot
User=root
Group=root
ExecStart=/usr/bin/mender-client-set-systemd-machine-id.sh

[Install]
WantedBy=mender-client.service
