# systemd-boot + meta-intel + meta-mender QEMU reference configuration

MACHINE ?= "intel-corei7-64"
DISTRO ?= "poky"

PACKAGE_CLASSES ?= "package_rpm"
EXTRA_IMAGE_FEATURES ?= "debug-tweaks"
USER_CLASSES ?= "buildstats image-mklibs image-prelink"
PATCHRESOLVE = "noop"
BB_DISKMON_DIRS ??= "\
    STOPTASKS,${TMPDIR},1G,100K \
    STOPTASKS,${DL_DIR},1G,100K \
    STOPTASKS,${SSTATE_DIR},1G,100K \
    STOPTASKS,/tmp,100M,100K \
    ABORT,${TMPDIR},100M,1K \
    ABORT,${DL_DIR},100M,1K \
    ABORT,${SSTATE_DIR},100M,1K \
    ABORT,/tmp,10M,1K"
PACKAGECONFIG_append_pn-qemu-system-native = " sdl"
CONF_VERSION = "1"

SSTATE_DIR ?= "${BSPDIR}/sstate"
DL_DIR ?= "${BSPDIR}/downloads"

VIRTUAL-RUNTIME_init_manager = "systemd"
VIRTUAL-RUNTIME_initscripts = ""
DISTRO_FEATURES_append = " systemd"
DISTRO_FEATURES_NATIVE_append = " systemd"
DISTRO_FEATURES_BACKFILL_CONSIDERED_append = " sysvinit"

_MENDER_BOOTLOADER_DEFAULT = "mender-systemd-boot"
MENDER_BOOT_PART_SIZE_MB = "72"
MENDER_STORAGE_TOTAL_SIZE_MB = "768"

# set one of these:
#  demo server
#MENDER_DEMO_HOST_IP_ADDRESS = "10.0.0.2"
#  local server
#MENDER_SERVER_URL = "https://10.0.0.2"
#  hosted server
#MENDER_TENENT_TOKEN = ""

INITRAMFS_IMAGE = "core-image-minimal-initramfs"
INITRD_IMAGE = "${INITRAMFS_IMAGE}"
INITRD_IMAGE_LIVE = "${MLPREFIX}${INITRAMFS_IMAGE}"

MACHINEOVERRIDES_append = ":x86-64:x86-common"

INHERIT += "mender-full"
# a custom image recipe could inherit this instead of including it here:
INHERIT += "mender-image-systemd-boot"

MENDER_ARTIFACT_NAME = "alpha-1"
ARTIFACTIMG_FSTYPE = "ext4"

IMAGE_FSTYPES_append = " ext4"
IMAGE_TYPEDEP_wic += "ext4"
IMAGE_TYPEDEP_uefiimg += "wic"
IMAGE_ROOTFS_EXTRA_SPACE_append = " + 4096"

ROOT_pn-systemd-bootconf = ""
MENDER_STORAGE_DEVICE_BASE = "${MENDER_STORAGE_DEVICE}"

MENDER_STORAGE_DEVICE = "/dev/sda"
QB_DEFAULT_KERNEL = "none"
